body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: pink;
    margin-top: 100px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
}
